.centered {
  display: flex;
  flex-wrap: nowrap;
}

.header-title {
  flex-wrap: wrap;
  background-color: #1c658c;
  color: white;
  font-family: "Lato";
  font-size: 70px;
  text-align: center;
  font-weight: 800;
  line-height: 120px;
  letter-spacing: 2px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .header-title {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
